<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Path.Lot2" value="Z:\40-Projets\{0}\00 - COMMUN\Lot Soutien\{1}"/>
    <add key="File.Suivi" value="Suivi.xlsx"/>
  </appSettings>
</configuration>